@import url('./modules/variables/variables.css');
@import url('./modules/components/header.css');
@import url('./modules/components/nav.css');
@import url('./modules/components/hero.css');
@import url('./modules/components/list.css');
@import url('./modules/components/card.css');
@import url('./modules/elements/link.css');
@import url('./modules/elements/image.css');
@import url('./modules/layouts/grid-layout.css');
@import url('./modules/layouts/container.css');

:root {
  scroll-behavior: smooth;
  color-scheme: var(--color-scheme);
  accent-color: var(--primary-color);
}

.body {
  margin: initial;
  font-family: var(--primary-font-family);
  font-size: var(--element-size);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.button {
  all: unset;
  padding: 0.25em 1em;
  border-radius: 16px;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  transition: background-color var(--transition-duration);

  &:hover {
    background-color: var(--secondary-color);
  }
}

.flexbox {
  display: flex;
}

.flexbox--centered-sides {
  align-items: center;
  justify-content: space-between;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.gap-5xs {
  gap: calc(var(--element-spacing) * 0.25);
}

.gap-md {
  gap: var(--element-spacing);
}

@media (width >=768px) {
  .md\:d-flex {
    display: flex;
  }
}