@import url('./modules/variables/variables.css');
@import url('./modules/components/header.css');
@import url('./modules/components/nav.css');
@import url('./modules/components/hero.css');
@import url('./modules/layouts/grid-layout.css');

:root {
  scroll-behavior: smooth;
  color-scheme: var(--color-scheme);
  accent-color: var(--primary-color);
}

.body {
  margin: initial;
  font-family: var(--primary-font-family);
  font-size: var(--element-size);
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.container {
  max-width: 1024px;
  padding-right: 16px;
  padding-left: 16px;
  margin: 0 auto;
}

.list {
  margin: initial;
  padding: initial;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: initial;
  font-weight: 700;
  transition: color 0.25s;

  &:hover {
    color: var(--primary-color);
  }
}

.img {
  display: block;
  object-fit: cover;
}

.img--background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.img--technology {
  position: absolute;
  transform: translate(-50%, -50%);

  &:nth-child(2) {
    top: 100%;
    left: 50%;
  }

  &:nth-child(3) {
    top: 50%;
    left: 0;
  }

  &:nth-child(4) {
    top: 50%;
    left: 100%;
  }

  &:nth-child(5) {
    top: 0;
    left: 50%;
  }
}

.button {
  all: unset;
  padding: 0.25em 1em;
  border-radius: 16px;
  background-color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.25s;

  &:hover {
    background-color: var(--secondary-color);
  }
}

.flexbox {
  display: flex;
}

.flexbox--centered-sides {
  align-items: center;
  justify-content: space-between;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.gap-5xs {
  gap: 8px;
}

@media (width >=768px) {
  .md\:d-flex {
    display: flex;
  }

  .md\:g-layout--1fr-1fr {
    grid-template-columns: 1fr 1fr;
  }
}