.card {
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card__body {
  background-color: var(--secondary-background-color);
  padding: calc(var(--element-spacing) * 0.5);
}

.card__title {
  margin: 0;
  font-size: calc(var(--element-size) * 1.25);
}

.card__subtitle {
  margin: 0;
  font-size: calc(var(--element-size) * 1.125);
  color: var(--secondary-text-color);
}

.card__text {
  margin: 0;
  font-size: var(--element-size);
}