:root {
  --color-scheme: dark;
  --primary-color: #23b5d8;
  --secondary-color: #234b96;
  --primary-shadow-color: #f1f5f8bf;
  --light-primary-shadow-color: #010508bf;
  --primary-background-color: #010508;
  --secondary-background-color: #111518;
  --primary-text-color: #f1f5f8;
  --dark-primary-text-color: #f1f5f8;
  --secondary-text-color: #b1b5b8;
  /* --secondary-text-color: #818588; */
  --primary-font-family: 'Source Code Pro', monospace;
  --element-size: 0.875rem;
  --element-spacing: 1.875rem;
  --max-width: 32rem;

  @media (width >=768px) {
    --element-size: 1rem;
    --element-spacing: 2rem;
    --max-width: 64rem;
  }
}